In [71]:
import csv

In [ ]:
for line in mtb:
    if 'Electricity Fee' in line.description:
        line.account_name='expense'
        line.account_number='0000'
        line.save()
    elif 'Water Fee'in line.description:
        

        or  or 'Gas Fee'

In [ ]:
data = []
reader=csv.reader(open('../Mstar/citi_02_16.csv','r'))
writer=csv.writer(open('../Mstar/banktransaction_02_16.csv','a'),delimiter=',')
for row in reader:
    data.append(row)

In [ ]:
print("| {0:10} | {2:10} | {1:12} | {3:30} |".format('Date','Currency','Balance','Description'))
print('|',71*'-','|')
for item in sorted(data[1:]):
    if item[5]=="USD":
        print("|{0:10} | {2:10} | {1:12} | {3:30} |".format(item[0],item[10],item[5],item[14]))
        line=(item[0],item[5],item[10],item[14])
        writer.writerow(line)

In [251]:
w.close()

In [194]:
keyitem

['Ekstre Tarihi', 'Şube Adı', 'Şube Numarası', 'Hesap Numarası', 'Hesap Para Birimi', 'Açılıştaki Kullanılabilir Bakiye', 'Kullanılabilir Bakiye', 'Açılış Bakiyesi', 'Bakiye', 'Hesaplanmış Bakiye', 'Hesap Adı', 'Hesap Tipi', 'Müşteri Adı', 'Müşteri Numarası', 'Son Giriş Tarihi', 'IBAN']

In [59]:
ofile  = open('ms.csv', "wt")
writer = csv.writer(ofile, delimiter=',', quotechar='"')
for line in data:
    writer.writerow(line)

### Average USD Rates
Rate | USD | TL
---|---|----
2014|1| 2.19
2015| 1 | 2.68

### Employee Salary Table

Year|Basic Salary|Social Security|Expenses
---|---|---|---
2014|128K USD|88751 TL|52765 TL
2015|112K USD|88782 TL|85980 TL

Year | Flight Tickets | Accounting | Rent
---|---|---|---
2014 | 36401 TL | 25673 TL | 
2015 | 58228 TL | 36665 TL |

### Employee Expenses Table

2015|Expenses|Allowance
---|---|---
Fatih|47705 TL|5320 TL
Kursat|31115 TL|1840 TL

2014|Expenses|Allowance
---|---|---
Fatih|32602 TL|1418 TL
Kursat|17552 TL|1765 TL

### Flight Tickets

Aborda|Flight tickets
---|---
2014|43015 TL
2015|58834 TL

### Accounting
 Year |Quarter|Amount
---|---
2014|Q1|6366 TL
2014|Q2|6008 TL
2014|Q3|6276 TL
2014|Q4|6879 TL
2014|Total|25529 TL
2015|Q1|7120 TL
2015|Q2|7788 TL
2015|Q3|8379 TL
2015|Q4|9008 TL
2015|Total|32295 TL
2015|Work Permit|4322 TL

In [ ]:
# USD Rates
rates_16={
    'january': '2.930',
}
rates_15={
    'january': '2.343',
    'february': '2.439',
    'march': '2.553',
    'april':'2.671',
    'may':'2.704',
    'june':'2.709',
    'july':'2.770',
    'august':'2.914',
    'september':'3.014',
    'october':'2.275',
    'november':'2.871',
    'december':'2.920'
}
rates_14={
    'january': '2.165',
    'february': '2.220',
    'march': '2.241',
    'april':'2.122',
    'may':'2.122',
    'june':'2.082',
    'july':'2.122',
    'august':'2.153',
    'september':'2.164',
    'october':'2.477',
    'november':'2.218',
    'december':'2.310'
}

In [9]:
for key in rates_15.values:
    print(key, key)

TypeError: 'builtin_function_or_method' object is not iterable

## mylib library
import csv

    def read_csv_file(filename):
        """Reads a CSV file and return it as a list of rows."""
        data=[]
        for row in csv.reader(open(filename)):
            data.append(row)
        return data

In [2]:
data=mylib.read_csv_file("mstar.csv")

for i in range(len(data[0])):
    print(i,data[1][i])

list=[x for x in data if x[0]=='Fatih']
#listele who date amount currency mtb
mylib.topla(list)
for i in list[1:]:
    print('{0:10s} {1:10s} {2:10.2f} {3:5s} {4:10s}'.format(i[0],i[1],float(i[4]),i[5],i[6]))

### Average USD Rates
Rate | USD | TL
---|---|----
2014|1| 2.19
2015| 1 | 2.68

### Employee Salary Table

Year|Basic Salary|Social Security|Expenses
---|---|---|---
2014|128K USD|88751 TL|52765 TL
2015|112K USD|88782 TL|85980 TL

Year | Flight Tickets | Accounting | Rent
---|---|---|---
2014 | 36401 TL | 25673 TL | 
2015 | 58228 TL | 36665 TL |

### Employee Expenses Table

2015|Expenses|Allowance
---|---|---
Fatih|47705 TL|5320 TL
Kursat|31115 TL|1840 TL

2014|Expenses|Allowance
---|---|---
Fatih|32602 TL|1418 TL
Kursat|17552 TL|1765 TL

### Flight Tickets

Aborda|Flight tickets
---|---
2014|43015 TL
2015|58834 TL

### Accounting
 Year |Quarter|Amount
---|---
2014|Q1|6366 TL
2014|Q2|6008 TL
2014|Q3|6276 TL
2014|Q4|6879 TL
2014|Total|25529 TL
2015|Q1|7120 TL
2015|Q2|7788 TL
2015|Q3|8379 TL
2015|Q4|9008 TL
2015|Total|32295 TL
2015|Work Permit|4322 TL

In [1]:
# USD Rates
rates_16={
    'january': '2.930',
}
rates_15={
    'january': '2.343',
    'february': '2.439',
    'march': '2.553',
    'april':'2.671',
    'may':'2.704',
    'june':'2.709',
    'july':'2.770',
    'august':'2.914',
    'september':'3.014',
    'october':'2.275',
    'november':'2.871',
    'december':'2.920'
}
rates_14={
    'january': '2.165',
    'february': '2.220',
    'march': '2.241',
    'april':'2.122',
    'may':'2.122',
    'june':'2.082',
    'july':'2.122',
    'august':'2.153',
    'september':'2.164',
    'october':'2.477',
    'november':'2.218',
    'december':'2.310'
}