In [11]:
import sqlite3

In [12]:
db = sqlite3.connect(':memory:')

In [13]:
cursor = db.cursor()
cursor.execute('''
    CREATE TABLE users(id INTEGER PRIMARY KEY, name TEXT,
                       phone TEXT, email TEXT unique, password TEXT)
''')
db.commit()

In [4]:
name1 = 'Andres'
phone1 = '3366858'
email1 = 'user@example.com'
# A very secure password
password1 = '12345'

In [5]:
cursor.execute('''INSERT INTO users(name, phone, email, password)
                  VALUES(?,?,?,?)''', (name1,phone1, email1, password1))

In [6]:
db.commit()

In [47]:
cursor.execute('''SELECT id, name, email, phone FROM users''')

In [48]:
for row in cursor:
    # row[0] returns the first column in the query (name), row[1] returns email column.
    print('{1} : {3}, {2}, {0}'.format(row[0], row[1], row[2],row[3]))

Elf : 549 00 00, elf@home, 1

In [45]:
cursor.execute('''UPDATE users SET email = ? WHERE id = ? ''', ('elf@home', 1 ))
db.commit()

/