### Average USD Rates
Rate | USD | TL
---|---|----
2014|1| 2.19
2015| 1 | 2.68

### Employee Salary Table

Year|Basic Salary|Social Security|Expenses
---|---|---|---
2014|128K USD|88751 TL|52765 TL
2015|112K USD|88782 TL|85980 TL

Year | Flight Tickets | Accounting | Rent
---|---|---|---
2014 | 36401 TL | 25673 TL | 
2015 | 58228 TL | 36665 TL |

### Employee Expenses Table

2015|Expenses|Allowance
---|---|---
Fatih|47705 TL|5320 TL
Kursat|31115 TL|1840 TL

2014|Expenses|Allowance
---|---|---
Fatih|32602 TL|1418 TL
Kursat|17552 TL|1765 TL

### Flight Tickets

Aborda|Flight tickets
---|---
2014|43015 TL
2015|58834 TL

### Accounting
 Year |Quarter|Amount
---|---
2014|Q1|6366 TL
2014|Q2|6008 TL
2014|Q3|6276 TL
2014|Q4|6879 TL
2014|Total|25529 TL
2015|Q1|7120 TL
2015|Q2|7788 TL
2015|Q3|8379 TL
2015|Q4|9008 TL
2015|Total|32295 TL
2015|Work Permit|4322 TL