## Libraries

In [1]:
from django.db.models import Avg
from django.http import HttpResponse
from django.views import View

In [10]:
import os,json,csv

In [2]:
from datetime import date,datetime

In [12]:
from budget.models import Expense

In [13]:
from mylib import Day

In [14]:
moment=Day()

In [16]:
moment.greetings()

Sunday, 14 April

In [17]:
def greet_user():
    """Display a simple greeting."""
    today=datetime.date.today()
    query=Expense.objects.filter(edate__month=today.month)
    c=0
    for exp in query:
        c+=exp.amount
    print(f"Hello\nToday is {today.strftime('%A %B %d')}")
    print(f"Bu ay {c} tl harcadiniz")

In [22]:
echo "Today's date is `date`, this is week `date +"%V"`."

SyntaxError: invalid syntax (<ipython-input-22-de5a19ddf4f5>, line 1)

In [18]:
greet_user()

AttributeError: 'method_descriptor' object has no attribute 'today'

## Time

In [5]:
datetime_object=datetime.now()

In [8]:
datetime_object.today()

datetime.datetime(2019, 5, 7, 17, 47, 36, 283955)

In [20]:
t1 = date(year = 1977, month = 4, day = 13)
t2 = date(year = 1974, month = 3, day = 6)
t3 = t1 - t2
print("t3 =", t3)
print(type(t3))

t3 = 1134 days, 0:00:00
<class 'datetime.timedelta'>

In [9]:
print(datetime_object.time())

17:47:16.829219

In [11]:
today=datetime.today()

In [12]:
today

datetime.datetime(2019, 5, 7, 17, 48, 10, 921815)

In [13]:
today.strftime('%A')

'Tuesday'

In [14]:
print(today.strftime('%A %B %Y').split(' ')[0])

Tuesday

### Query Set

In [8]:
elist=Expense.objects.all()

### Exporting expense data to regular file

In [9]:
file = open('inputs.txt','w')
for exp in elist:
    detail=exp.detail.replace("\r\n"," ",4)
    line=exp.edate.strftime('%F')+'::'+str(exp.amount)+'::'+exp.currency+'::'+exp.title+'::'+detail
    file.write(line+"\n")
file.close()

In [13]:
fh=open('input.txt','r')

In [14]:
items=fh.readlines()

In [26]:
for line in items:
    exp=line.split("::")
    print(exp[4][:-1])

Migros Cikolata Pesto Tortellini
Et
Starbucks Coffee Mugla
KoycegizNet Kurulum 450 1 ay internet 50
Iphone car charge
Sile donus yolu Mehmet Zengin kofteci
Sile'den donus Starbucks coffee + cekirdek coffee
Pamukkale  Koycegiz/Istanbul Duster icin Sile'ye gittim
Carrefour Pil Peynir Temizlik Malzemesi
Et
Carrefour Peynir Abur cubur
Veteriner Makbule
Bir cuval cinko
1 Cuval kukurt
Duster Bakim 11412km Sonraki bakim 31412 ya da 26.12.2019
Duster Expertise
Got Duster
HGS for Duster
Duster Noter Satis
Muhammet Gubreleri dagittti. 14 yere
Kepce  Eray 1.5 saat calisti. 14 cukur kazdi.
Book Yilmaz Ozdil Cocuk serisi
Kardelen Pide Umutlar bizdeydi
Pazar + Gozleme
Duster 6 tl/l 41.345 l 10481km
Duster  6.1 tl/l 48.865 lt 11240 km
Duster Sigorta
Migros Kahve Cikolata
Gokturk Tutun Kagit Filtre
Koycegiz/Istanbul Kofteci Gurluoglu
Duster 5.79 tl/l 53.550 l
Uniq 3 cocuk kitabi
Melekeli Pogca
Pelum
Fatma Ablalar Pogca simit
Orkid
Istanbul Akvaryum Ela ve Memet
Edirne Cigercisi Gozcu sonrasi
Istanbul Akvaryum Otopark
Duster 47.790 l 773.7 km 5.86 12715
Jeep Gas
Dis Niyazi
Carrefour
Feribot Topcular
Plum
Sariyer Market
Remzi Kitabevi
Remzi Kitabevi
Atlas Kirtasiye
Ortaca
Dogru Kasap
Ada Eczanesi Kilyos yolu
Carrefour
Balikci
Duster icin telefon aparati
Sariyer'de biryer
Fethiye Community Festival
Saharlare sarap
Saharlara giderken borek
Elif with friends , Mis Pizza
3 paket Karelias
Zeki Abi
Hatice sut yumurta tereyag
Kofteci Dede
D&R Barbie
Starbucks
Susurluk Peyniri
Migros Peynir Abur cubur
Duster 53.730 l 6.180 13595 km 139.8 km
Feristah
Duster 13.93 lt 6.10 tl/lt 13454 km 739.5
Kiyma
Bolu Sofrasi
Esralardan Saharlere giderken Opetten borek
Antrikot
Carrefour Pil Abur Cubur Peynir
Bahce
Bahce
Bahce 4 ay
TTNet
D3
Telekom
Ecenin Mutfagi
Ela araba koltugu
Mooji
Sucu
Odur Budur
Koycegiz lokantasi x2
Akyaka
Akyaka Cinar Restaurant Yemekler guzeldi
Carrefour
Carrefour
Carrefour
Meyve Sebze
Kasap
bonfile pirzola
Feristah Abla  Sut yumurta
Battaniye yikama
Et
Makbule Veteriner
Balikci
Akyaka
Akyaka Balikci
Elif Kuru Temizleme
Meyve Peynir
Koycegiz lokantasi
Elif Ucak Ist>Dal
Yoga Salincak
Carrefour
Kasikla resto
Kasikla resto
55.65 l 6.2 tl/l 830 km  14426km
Sinek8 Sonyanin tavuklari
Ece'nin mutfagi
Kiyma
Migros
Carrefour

In [12]:
fh.close()

### How many expense items

In [104]:
read_file=open('input.txt','r')
c=0
for line in read_file:
    c+=1
    #print(line.split('::'))
print(c)
rfile.close()

117

### Titles

In [82]:
elist=Expense.objects.all()
titles=set()
for exp in elist:
    titles.add(exp.title)
print(f'Titles: {titles}\n')

Titles: {'Travel', 'Tobacco', 'Electricity', 'Entertainment', 'Stationary', 'Tools', 'Media', 'Equipment', 'Market', 'Toy', 'Otopark', 'Engines', 'Cleaning', 'Pazar', 'ManPower', 'Oil', 'Kasap', 'Internet', 'Health', 'Food', 'Toprak', 'tobacco', 'E-parts', 'Drug', 'Book'}

In [83]:
print(f'Title/Date      December         January         February')
print(f'--------------------------------------------------------------')
for title in titles:
    t12=Expense.objects.filter(title=title,edate__month=12)
    t1=Expense.objects.filter(title=title,edate__month=1)
    t2=Expense.objects.filter(title=title,edate__month=2)
    c12=0
    c1=0
    c2=0
    for exp in t12:
        c12+=exp.amount
    for exp in t1:
        c1+=exp.amount
    for exp in t2:
        c2+=exp.amount
    print(f'{title:15} {c12:<10}({t12.count()}) \t {c1:<10}({t1.count()}) \t {c2:<10}({t2.count()})')
totaldec=Expense.objects.filter(edate__month=12).aggregate(Sum('amount'))['amount__sum']
totaljan=Expense.objects.filter(edate__month=1).aggregate(Sum('amount'))['amount__sum']
totalfeb=Expense.objects.filter(edate__month=2).aggregate(Sum('amount'))['amount__sum']
print(f'----------------------------------------------------------------')
print(f'Total {totaldec:16.6} {totaljan:16.5} {totalfeb:16.5}')

Title/Date      December         January         February
--------------------------------------------------------------
Travel          130.00    (1) 	 55.00     (1) 	 120.00    (1)
Tobacco         0         (0) 	 105.00    (2) 	 60.00     (1)
Electricity     0         (0) 	 54.70     (1) 	 0         (0)
Entertainment   169.25    (4) 	 760.45    (14) 	 500.00    (7)
Stationary      0         (0) 	 0         (0) 	 0         (0)
Tools           0         (0) 	 800.00    (1) 	 0         (0)
Media           100.00    (1) 	 0         (0) 	 0         (0)
Equipment       0         (0) 	 0         (0) 	 265.00    (1)
Market          109.07    (2) 	 744.43    (8) 	 464.02    (3)
Toy             0         (0) 	 75.15     (1) 	 0         (0)
Otopark         0         (0) 	 5.00      (1) 	 0         (0)
Engines         85006.64  (6) 	 0         (0) 	 0         (0)
Cleaning        0         (0) 	 0         (0) 	 90.00     (2)
Pazar           80.00     (1) 	 250.00    (1) 	 250.00    (2)
ManPower        116.05    (1) 	 400.00    (1) 	 0         (0)
Oil             727.74    (3) 	 1007.15   (4) 	 345.03    (1)
Kasap           97.00     (3) 	 115.00    (3) 	 204.00    (3)
Internet        500.00    (1) 	 104.75    (2) 	 0         (0)
Health          107.00    (1) 	 995.00    (3) 	 0         (0)
Food            0         (0) 	 60.00     (2) 	 65.00     (1)
Toprak          530.00    (4) 	 0         (0) 	 0         (0)
tobacco         0         (0) 	 0         (0) 	 75.00     (1)
E-parts         40.00     (1) 	 58.00     (1) 	 0         (0)
Drug            0         (0) 	 146.50    (4) 	 0         (0)
Book            0         (0) 	 179.55    (3) 	 30.00     (1)
----------------------------------------------------------------
Total          87712.8           5915.7           2468.0

## Year Based Table

In [84]:
queries={}
amounts=[]
for i in range(1,13):
    c=0
    for exp in Expense.objects.filter(edate__year=2018,edate__month=i):
        c+=exp.amount
    amounts.append(c)
    queries[i]=amounts

In [85]:
queries={}
for i in range(1,13):
    c=0
    for exp in Expense.objects.filter(edate__year=2019,edate__month=i):
        c+=exp.amount
        queries[i]=c

In [86]:
for key,value in queries.items():
    print(f'{key} {value}')

1 5915.68
2 2468.05
3 226.44

### List queryset

In [87]:
count=0
for exp in elist:
    print(f'{exp.edate.year}/{exp.edate.month:<4} {exp.title:<20}{exp.amount:>8} {exp.currency}')
    count+=exp.amount
print(count)
print(f'There are {Expense.objects.count()} expense items.')

2018/12   Market                 56.15 tl
2018/12   Kasap                  45.00 tl
2018/12   Entertainment          20.75 tl
2018/12   Internet              500.00 tl
2018/12   E-parts                40.00 tl
2018/12   Entertainment          29.00 tl
2018/12   Entertainment          39.50 tl
2018/12   Travel                130.00 tl
2018/11   Market                 86.45 tl
2018/11   Kasap                  69.00 tl
2018/11   Market                123.85 tl
2018/12   Health                107.00 tl
2018/12   Toprak                115.00 tl
2018/12   Toprak                 65.00 tl
2018/12   Engines               858.44 tl
2018/12   Engines               250.00 tl
2018/12   Engines             82500.00 tl
2018/12   Engines               200.00 tl
2018/12   Engines               180.00 tl
2018/12   Toprak                100.00 tl
2018/12   Toprak                250.00 tl
2018/12   Media                 100.00 tl
2018/12   Entertainment          80.00 tl
2018/12   Pazar                  80.00 tl
2018/12   Oil                   248.04 tl
2018/12   Oil                   298.05 tl
2018/12   Engines              1018.20 tl
2019/1    Market                 59.15 tl
2019/1    Tobacco                35.00 tl
2019/1    Entertainment         100.00 tl
2019/1    Oil                   310.05 tl
2019/1    Book                   33.00 tl
2019/1    Entertainment          14.00 tl
2019/1    Drug                   35.00 tl
2019/1    Entertainment          16.00 tl
2019/1    Drug                    8.00 tl
2019/1    Entertainment          85.00 tl
2019/1    Entertainment          40.00 tl
2019/1    Otopark                 5.00 tl
2019/1    Oil                   280.05 tl
2018/12   Oil                   181.65 tl
2019/1    Health                750.00 tl
2018/12   Market                 52.92 tl
2019/1    Travel                 55.00 tl
2019/1    Drug                   44.50 tl
2019/1    Market                158.92 tl
2019/1    Book                   48.90 tl
2019/1    Book                   97.65 tl
2018/11   Stationary             37.50 tl
2018/11   Tobacco                74.50 tl
2018/12   Kasap                  27.00 tl
2019/1    Drug                   59.00 tl
2018/11   Market                 80.35 tl
2018/12   Kasap                  25.00 tl
2019/1    E-parts                58.00 tl
2019/1    Market                 26.73 tl
2018/11   Entertainment         160.00 tl
2019/1    Entertainment          50.00 tl
2019/1    Entertainment          25.00 tl
2019/1    Entertainment         100.00 tl
2019/1    Tobacco                70.00 tl
2019/1    Health                185.00 tl
2019/1    Food                   50.00 tl
2019/1    Entertainment          69.00 tl
2019/1    Toy                    75.15 tl
2019/1    Entertainment          47.75 tl
2019/1    Market                 22.10 tl
2019/1    Market                 42.15 tl
2019/1    Oil                   332.05 tl
2019/1    ManPower              400.00 tl
2019/1    Oil                    85.00 tl
2019/1    Kasap                  21.00 tl
2019/1    Entertainment          63.50 tl
2019/1    Entertainment          22.20 tl
2019/1    Kasap                  41.00 tl
2019/1    Market                129.59 tl
2018/7    Internet               50.00 tl
2018/8    Internet               50.00 tl
2018/9    Internet              200.00 tl
2019/1    Internet               78.75 tl
2019/1    Electricity            54.70 tl
2019/1    Internet               26.00 tl
2019/1    Entertainment          28.00 tl
2019/1    Tools                 800.00 tl
2018/12   ManPower              116.05 tl
2019/1    Food                   10.00 tl
2019/2    Pazar                 120.00 tl
2019/2    Entertainment          25.00 tl
2019/2    Tobacco                60.00 tl
2019/2    Entertainment         235.00 tl
2019/1    Market                 83.05 tl
2019/2    Market                 83.73 tl
2019/1    Market                222.74 tl
2019/1    Pazar                 250.00 tl
2019/1    Entertainment         100.00 tl
2019/2    Kasap                  60.00 tl
2019/2    Food                   65.00 tl
2019/2    Cleaning               15.00 tl
2019/2    Kasap                  99.00 tl
2019/1    Health                 60.00 tl
2019/1    Kasap                  53.00 tl
2019/2    tobacco                75.00 tl
2019/2    Entertainment          55.00 tl
2019/2    Cleaning               75.00 tl
2019/2    Pazar                 130.00 tl
2019/2    Entertainment          50.00 tl
2019/2    Travel                120.00 tl
2019/2    Equipment             265.00 tl
2019/2    Market                164.36 tl
2019/2    Entertainment          50.00 tl
2019/2    Entertainment          50.00 tl
2019/2    Oil                   345.03 tl
2019/2    Book                   30.00 tl
2019/2    Entertainment          35.00 tl
2019/2    Kasap                  45.00 tl
2019/2    Market                215.93 tl
2019/3    Market                226.44 tl
97254.57
There are 117 expense items.

### Filter Queryset

In [88]:
for title in titles:
    count=0
    for exp in elist:
        if exp.title==title:
            count+=exp.amount
    print(f'{title:20} \t {count}')

Travel               	 305.00
Tobacco              	 239.50
Electricity          	 54.70
Entertainment        	 1589.70
Stationary           	 37.50
Tools                	 800.00
Media                	 100.00
Equipment            	 265.00
Market               	 1834.61
Toy                  	 75.15
Otopark              	 5.00
Engines              	 85006.64
Cleaning             	 90.00
Pazar                	 580.00
ManPower             	 516.05
Oil                  	 2079.92
Kasap                	 485.00
Internet             	 904.75
Health               	 1102.00
Food                 	 125.00
Toprak               	 530.00
tobacco              	 75.00
E-parts              	 98.00
Drug                 	 146.50
Book                 	 209.55

In [89]:
for exp in elist:
    print(exp.edate.strftime('%A %B %Y'))

Friday December 2018
Friday December 2018
Thursday December 2018
Thursday December 2018
Thursday December 2018
Thursday December 2018
Thursday December 2018
Wednesday December 2018
Tuesday November 2018
Tuesday November 2018
Sunday November 2018
Monday December 2018
Saturday December 2018
Saturday December 2018
Thursday December 2018
Thursday December 2018
Thursday December 2018
Thursday December 2018
Thursday December 2018
Saturday December 2018
Saturday December 2018
Saturday December 2018
Sunday December 2018
Monday December 2018
Thursday December 2018
Tuesday December 2018
Friday December 2018
Tuesday January 2019
Thursday January 2019
Wednesday January 2019
Wednesday January 2019
Thursday January 2019
Thursday January 2019
Thursday January 2019
Saturday January 2019
Saturday January 2019
Thursday January 2019
Thursday January 2019
Thursday January 2019
Sunday January 2019
Monday December 2018
Wednesday January 2019
Thursday December 2018
Wednesday January 2019
Monday January 2019
Monday January 2019
Saturday January 2019
Saturday January 2019
Monday November 2018
Tuesday November 2018
Sunday December 2018
Monday January 2019
Tuesday November 2018
Friday December 2018
Thursday January 2019
Tuesday January 2019
Saturday November 2018
Tuesday January 2019
Tuesday January 2019
Monday January 2019
Monday January 2019
Wednesday January 2019
Sunday January 2019
Friday January 2019
Wednesday January 2019
Friday January 2019
Friday January 2019
Saturday January 2019
Friday January 2019
Tuesday January 2019
Friday January 2019
Wednesday January 2019
Friday January 2019
Wednesday January 2019
Sunday January 2019
Sunday January 2019
Monday July 2018
Monday August 2018
Tuesday September 2018
Monday January 2019
Wednesday January 2019
Tuesday January 2019
Tuesday January 2019
Tuesday January 2019
Wednesday December 2018
Thursday January 2019
Monday February 2019
Monday February 2019
Sunday February 2019
Sunday February 2019
Thursday January 2019
Sunday February 2019
Friday January 2019
Monday January 2019
Monday January 2019
Thursday February 2019
Saturday February 2019
Saturday February 2019
Saturday February 2019
Thursday January 2019
Thursday January 2019
Friday February 2019
Friday February 2019
Friday February 2019
Monday February 2019
Monday February 2019
Tuesday February 2019
Tuesday February 2019
Sunday February 2019
Saturday February 2019
Thursday February 2019
Saturday February 2019
Saturday February 2019
Wednesday February 2019
Wednesday February 2019
Saturday February 2019
Friday March 2019

In [90]:
def read_csv_file(filename):
    """Reads a CSV file and return it as a list of rows."""
    data = []
    reader=csv.reader(open(filename))
    for row in reader:
        data.append(row)
    return data

# USD Rates
rates_16={
    'january': '2.930',
}
rates_15={
    'january': '2.343',
    'february': '2.439',
    'march': '2.553',
    'april':'2.671',
    'may':'2.704',
    'june':'2.709',
    'july':'2.770',
    'august':'2.914',
    'september':'3.014',
    'october':'2.275',
    'november':'2.871',
    'december':'2.920'
}
rates_14={
    'january': '2.165',
    'february': '2.220',
    'march': '2.241',
    'april':'2.122',
    'may':'2.122',
    'june':'2.082',
    'july':'2.122',
    'august':'2.153',
    'september':'2.164',
    'october':'2.477',
    'november':'2.218',
    'december':'2.310'
}